<ngx-auth-block>
  <h2 class="title">RMCA - 密码重置</h2>
  <small class="form-text sub-title">请输入您的新密码来重置现有密码</small>
  <form (ngSubmit)="resetPassword()" #form="ngForm">
    <div class="alert alert-info" role="alert"
         [class.alert-info]="notice.type == 'info'"
         [class.alert-success]="notice.type == 'success'"
         [class.alert-danger]="notice.type == 'danger'"
         *ngIf="notice">
      <div><strong>{{notice.title}}</strong></div>
      <div>{{notice.message}}</div>
    </div>

    <div class="form-group">
      <label for="input-password" class="sr-only">密码</label>
      <input name="password" type="password" id="input-password" class="form-control" placeholder="密码" autofocus
             [(ngModel)]="user.password" #password="ngModel"
             [class.form-control-danger]="password.invalid && password.touched"
             [required]="true" [minlength]='6' [maxlength]='32'>
      <small class="form-text error"
             *ngIf="password.invalid && password.touched && password.errors?.required">
        请填写密码
      </small>
      <small class="form-text error"
             *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
        密码应该在 6 - 32 位之间
      </small>
    </div>

    <div class="form-group">
      <label for="input-re-password" class="sr-only">重复密码</label>
      <input
        name="rePass" [(ngModel)]="user.confirmPassword" type="password" id="input-re-password"
        class="form-control" placeholder="重复密码" #rePass="ngModel"
        [class.form-control-danger]="(rePass.invalid || password.value != rePass.value) && rePass.touched"
        [required]="true">
      <small class="form-text error"
             *ngIf="rePass.invalid && rePass.touched && rePass.errors?.required">
        请输入重复密码
      </small>
      <small
        class="form-text error"
        *ngIf="rePass.touched && password.value != rePass.value && !rePass.errors?.required">
        两次密码不匹配
      </small>
    </div>

    <button class="btn btn-hero-success btn-block"
            [disabled]="submitted || !form.form.valid || password.value != rePass.value"
            [class.btn-pulse]="submitted">
      修改密码
    </button>
  </form>

  <div class="links col-sm-12">
    <small class="form-text">
      已经有账户了? <a routerLink="../login"><strong>登陆</strong></a>
    </small>
    <small class="form-text">
      还没有账户? <a routerLink="../register"><strong>注册</strong></a>
    </small>
  </div>
</ngx-auth-block>
