<div class="modal-header">
  <span>
      <i class="fas fa-trash"></i>
      服务器管理 - 删除服务器
  </span>
  <button class="close" (click)="activeModal.close()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body" [nbSpinner]="submitted" [nbSpinnerStatus]="'info'" [nbSpinnerMessage]="'删除中...'">
  <form autocomplete="off" role="form"
        [formGroup]="serverForm" (ngSubmit)="deleteServer(serverForm.value)">
    <ngb-alert [dismissible]="false" [type]="'warning'">
      你正在试图删除名为: <code>{{server.name}}</code>服务器, <strong>这是一个敏感操作!</strong> 请输入该服务器名称来确认操作
    </ngb-alert>

    <div class="input-group">
      <input class="form-control" id="input-name" placeholder="请输入服务器名称" autofocus
             formControlName="name"
             [class.form-control-danger]="serverForm.get('name').invalid && serverForm.get('name').touched">
      <div class="input-group-btn">
        <button nbButton [status]="'danger'" type="submit" class="btn"
                [disabled]="submitted || serverForm.invalid"
                [class.btn-pulse]="submitted">
          <i class="fas fa-trash"></i>
          删除
        </button>
      </div>
    </div>
  </form>
</div>
