@import '../../../styles/themes';
@import '../../../styles/extend/modal';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

.qr-code {
  text-align: center;

  img {
    height: 16rem;
    width: 16rem;
  }
}
