<div class="modal-header">
  <i class="ion ion-social-yen"></i>
  <span>捐助我们</span>
  <button class="close" (click)="activeModal.close()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <ngb-alert [dismissible]="false" [type]="'warning'">
    请在进行捐助时, 备注填写自己的QQ号或游戏ID等关键信息, 以便我们做记录, 谢谢!
  </ngb-alert>
  <p>
    <del>我，服务姬，打钱</del>
  </p>
  <p>
    服务器的发展离不开您的支持，玩家老爷行行好呗~
  </p>
  <p>
    我们收到的每一分捐助都将用于服务器的日常运营，您可以在 <a routerLink="/pages/dashboard" (click)="activeModal.close()">捐助记录</a> 查看收支详情。
  </p>
  <hr>
  <ngb-alert [dismissible]="false" [type]="'info'">
    如需要其他方式的捐助入口可以通过任何方式联系我们 <del>甚至支持Q币, Bitcoin, ETH, etc.</del>
  </ngb-alert>
  <div class="row">
    <div class="col-lg-6">
      <div class="qr-code">
        <h5> 支付宝 | Alipay</h5>
        <img src="../../../../../assets/images/donation/alipay.jpg" alt="">
      </div>
    </div>
    <div class="col-lg-6">
      <div class="qr-code">
        <h5> 微信 | WeChat</h5>
        <img src="../../../../../assets/images/donation/wechat.jpg" alt="">
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button nbButton [hero]="true" [status]="'primary'" (click)="activeModal.close()">溜了溜了</button>
</div>
