<nb-card>
  <nb-card-header>
    <span><i class="fa fa-qq"></i> 腾讯QQ账户</span>
    <span class="tag tag-success" *ngIf="user.accounts.qq">已授权</span>
    <span class="tag tag-warning" *ngIf="!user.accounts.qq">未授权</span>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="!user.accounts.qq">
      <small>你还未授权腾讯QQ账户</small>
    </div>
    <div *ngIf="user.accounts.qq" class="user-container">
      <div class="user-picture">
        <div class="background image" style.background-image="url({{user.accounts.qq.avatar}})"></div>
      </div>
      <div class="user-name">
        {{user.accounts.qq.name}}
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn btn-hero-success" *ngIf="user.accounts.qq" (click)="updateUserAvatar()">
      <i class="fa fa-image"></i>
      使用该头像作为RMCA头像
    </button>
    <button class="btn btn-hero-info" *ngIf="!user.accounts.qq" (click)="oAuth()">
      <i class="fa fa-link"></i>
      去授权
    </button>
  </nb-card-footer>
</nb-card>
