@import '../../../../@system/styles/extend/nb-card-header';
@import '../../../../@system/styles/tag';

.user-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  font-family: nb-theme(card-header-font-family);
  font-size: nb-theme(card-header-font-size);
  font-weight: nb-theme(card-header-font-weight);

  .user-name {
    margin-top: 0.5rem;
  }

  .user-picture {
    border-radius: 50%;
    flex-shrink: 0;
    background: #a1a1e5;
    border: solid 2px #00f9a6;

    .background {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .image {
      background-size: cover;
      background-repeat: no-repeat;
      height: 4.5rem;
      width: 4.5rem;
      border-radius: 100%;
    }
  }
}

.tag {
  font-size: 1rem;
  line-height: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.tag-success {
  color: nb-theme(color-white);
  background-color: nb-theme(color-success);
}

.tag-warning {
  color: nb-theme(color-white);
  background-color: nb-theme(color-warning);
}

