<ngx-auth-block>
  <h2 class="title">RMCA - 找回密码</h2>
  <small class="form-text sub-title">请输入正确的email, 我们将会向你发送一封邮件来协助你找回密码</small>
  <form autocomplete="off" role="form"
        [formGroup]="requestPasswordForm" (ngSubmit)="requestPassword(requestPasswordForm.value)">
    <ngx-auth-notice></ngx-auth-notice>

    <div class="form-group">
      <label for="input-email" class="sr-only">邮箱</label>
      <input class="form-control" id="input-email" placeholder="邮箱" autofocus
             formControlName="email"
             [class.form-control-success]="requestPasswordForm.get('email').valid && requestPasswordForm.get('email').touched"
             [class.form-control-danger]="requestPasswordForm.get('email').invalid && requestPasswordForm.get('email').touched">
      <small class="form-text error"
             *ngIf="
             requestPasswordForm.get('email').invalid && requestPasswordForm.get('email').touched &&
             requestPasswordForm.get('email').hasError('required')">
        请填写邮箱
      </small>
      <small class="form-text error"
             *ngIf="
             requestPasswordForm.get('email').invalid && requestPasswordForm.get('email').touched &&
             requestPasswordForm.get('email').hasError('email')">
        邮箱格式不正确
      </small>
    </div>

    <button class="btn btn-block btn-hero-success"
            [disabled]="submitted || requestPasswordForm.invalid"
            [class.btn-pulse]="submitted">
      发送邮件
    </button>
  </form>

  <div class="links col-sm-12">
    <small class="form-text">
      已经有账户了? <a routerLink="../login"><strong>登陆</strong></a>
    </small>
    <small class="form-text">
      还没有账户? <a routerLink="../register"><strong>注册</strong></a>
    </small>
  </div>
</ngx-auth-block>
