@import '../../@theme/styles/themes';

.tag {
  font-size: 1rem;
  line-height: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
}

.tag-info {
  color: nb-theme(color-white);
  background-color: nb-theme(color-info);
}

.tag-warning {
  color: nb-theme(color-white);
  background-color: nb-theme(colr-warning);
}

.tag-success {
  color: nb-theme(color-white);
  background-color: nb-theme(color-success);
}

.tag-danger {
  color: nb-theme(color-white);
  background-color: nb-theme(color-danger);
}
