<nb-card>
  <nb-card-header>
    <span><i class="fa fa-users"></i> 用户管理</span>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>电子邮箱</th>
        <th>状态</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td width="15%">{{user._id}}</td>
        <td>{{user.username}}</td>
        <td><a href="mail://{{user.email}}">{{user.email}}</a></td>
        <td class="account-state">
          <span class="tag tag-success" *ngIf="!user.ban">未封禁</span>
          <span class="tag tag-danger" *ngIf="user.ban">已封禁: {{user.ban}}</span>
          <span class="tag tag-danger" *ngIf="user.admin">管理员</span>
        </td>
        <td>
          <button class="btn btn-danger btn-tn" *ngIf="!user.ban" (click)="banUser(user)">
            <i class="fa fa-ban"></i>
            封禁
          </button>
          <button class="btn btn-success btn-tn" *ngIf="user.ban" (click)="unBanUser(user)">
            <i class="fa fa-check"></i>
            解封
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <!--TODO 分页-->
    <!--<div class="btn-group btn-toggle-group btn-outline-toggle-group" data-toggle="buttons"-->
    <!--[(ngModel)]="page" (ngModelChange)="pageChange($event)" ngbRadioGroup>-->
    <!--<label ngbButtonLabel class="btn btn-outline-success" *ngFor="let page of pageArray">-->
    <!--<input ngbButton type="radio" [value]="page">-->
    <!--{{page}}-->
    <!--</label>-->
    <!--</div>-->
  </nb-card-body>
</nb-card>
