@import '../../../../@theme/styles/themes';
@import '../../../../@theme/styles/styles';
@import '../../../../@system/styles/extend/nb-card-header';
@import '../../../../@system/styles/table';
@import '../../../../@system/styles/tag';

.id {
  font-family: nb-theme(font-secondary);
  font-weight: nb-theme(font-weight-bolder);
  color: nb-theme(color-fg-heading);
}

.account-state {
  .tag {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.action {
  text-align: center;

  button {
    margin-right: 0.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-feature {
  display: flex;

  label {
    margin-bottom: 0;
  }
}

nb-card-header {
  .header-feature {
    .btn-group {
      margin-right: 2rem;
    }
  }
}

.page-switcher {
  input {
    width: 7rem;
    text-align: center;
  }
}
