<ngx-auth-block>
  <h2 class="title">RMCA - 登陆</h2>
  <small class="form-text sub-title">请输入你的用户名和密码来登陆</small>

  <form (ngSubmit)="login()" #form="ngForm" autocomplete=off>
    <div class="alert alert-info" role="alert"
         [class.alert-info]="notice.type == 'info'"
         [class.alert-success]="notice.type == 'success'"
         [class.alert-danger]="notice.type == 'danger'"
         *ngIf="notice">
      <div><strong>{{notice.title}}</strong></div>
      <div>{{notice.message}}</div>
    </div>

    <div class="form-group">
      <label for="input-username" class="sr-only">Username</label>
      <input name="username" id="input-username" class="form-control" placeholder="用户名" autofocus
             [(ngModel)]="user.username" #username="ngModel"
             [class.form-control-danger]="username.invalid && username.touched"
             [required]="true" pattern="^[_a-zA-Z0-9]{6,16}$">
      <small class="form-text error"
             *ngIf="username.invalid && username.touched && username.errors?.required">
        请填写用户名
      </small>
      <small class="form-text error"
             *ngIf="username.invalid && username.touched && username.errors?.pattern">
        用户名格式不正确
      </small>
    </div>

    <div class="form-group">
      <label for="input-password" class="sr-only">Password</label>
      <input name="password" type="password" id="input-password" class="form-control" placeholder="密码"
             [(ngModel)]="user.password" #password="ngModel"
             [class.form-control-danger]="password.invalid && password.touched"
             [required]="true" [minlength]='6' [maxlength]='32'>
      <small class="form-text error"
             *ngIf="password.invalid && password.touched && password.errors?.required">
        请填写密码
      </small>
      <small class="form-text error"
             *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
        密码应该在 6 - 32 位之间
      </small>
    </div>

    <div class="form-group accept-group col-sm-12">
      <nb-checkbox name="rememberMe" [(ngModel)]="user.isKeepLogin">保持登陆状态(公共电脑不要勾选)</nb-checkbox>
      <a class="forgot-password" routerLink="../request-password">忘记密码</a>
    </div>

    <button class="btn btn-block btn-hero-success"
            [disabled]="submitted || !form.form.valid"
            [class.btn-pulse]="submitted">
      登陆
    </button>
  </form>

  <div class="links">
    <small class="form-text">使用第三方账号登陆:</small>

    <div class="socials">
      <a href="javascript:void(0)" (click)="qqLogin()" class="fa fa-qq"></a>
      <a href="javascript:void(0)" (click)="weiboLogin()" class="fa fa-weibo"></a>
    </div>

    <small class="form-text">
      还没有账户? <a routerLink="../register"><strong>注册</strong></a>
    </small>
  </div>
</ngx-auth-block>
