<ngx-auth-block>
  <h2 class="title">RMCA - 登陆</h2>
  <small class="form-text sub-title">请输入你的用户名和密码来登陆</small>

  <form autocomplete=off role="form"
        [formGroup]="loginForm" (ngSubmit)="login(loginForm.value)">
    <ngx-auth-notice></ngx-auth-notice>

    <div class="form-group">
      <label for="input-username" class="sr-only">用户名</label>
      <input class="form-control" id="input-username" placeholder="用户名" autofocus
             formControlName="username"
             [class.form-control-success]="loginForm.get('username').valid && loginForm.get('username').touched"
             [class.form-control-danger]="loginForm.get('username').invalid && loginForm.get('username').touched">
      <small class="form-text error"
             *ngIf="
             loginForm.get('username').invalid && loginForm.get('username').touched &&
             loginForm.get('username').hasError('required')">
        请填写用户名
      </small>
      <small class="form-text error"
             *ngIf="
             loginForm.get('username').invalid && loginForm.get('username').touched &&
             loginForm.get('username').hasError('pattern')">
        用户名格式不正确
      </small>
    </div>

    <div class="form-group">
      <label for="input-password" class="sr-only">Password</label>
      <input type="password" class="form-control" id="input-password" placeholder="密码"
             formControlName="password"
             [class.form-control-success]="loginForm.get('password').valid && loginForm.get('password').touched"
             [class.form-control-danger]="loginForm.get('password').invalid && loginForm.get('password').touched">
      <small class="form-text error"
             *ngIf="
             loginForm.get('password').invalid && loginForm.get('password').touched &&
             loginForm.get('password').hasError('required')">
        请填写密码
      </small>
      <small class="form-text error"
             *ngIf="
             loginForm.get('password').invalid && loginForm.get('password').touched &&
             (loginForm.get('password').hasError('minlength') || loginForm.get('password').hasError('maxlength'))">
        密码应该在 6 - 32 位之间
      </small>
    </div>

    <div class="form-group accept-group col-sm-12">
      <nb-checkbox
        formControlName="isKeepLogin">
        保持登陆状态(公共电脑不要勾选)
      </nb-checkbox>
      <a class="forgot-password" routerLink="../request-password">忘记密码</a>
    </div>

    <button class="btn btn-block btn-hero-success"
            [disabled]="submitted || loginForm.invalid"
            [class.btn-pulse]="submitted">
      登陆
    </button>
  </form>

  <div class="links">
    <small class="form-text">使用第三方账号登陆:</small>

    <div class="socials">
      <a href="javascript:void(0)" (click)="qqLogin()" class="fab fa-qq"></a>
      <a href="javascript:void(0)" (click)="weiboLogin()" class="fab fa-weibo"></a>
    </div>

    <small class="form-text">
      还没有账户? <a routerLink="../register"><strong>注册</strong></a>
    </small>
  </div>
</ngx-auth-block>
