<nb-card [nbSpinner]="submitted" nbSpinnerStatus="info" nbSpinnerMessage="密码更新中 ...">
  <nb-card-header>
        <span>
          <i class="fa fa-lock"></i> 密码管理
        </span>
  </nb-card-header>
  <nb-card-body>
    <form autocomplete="off" role="form"
          [formGroup]="changePasswordForm" (ngSubmit)="updatePassword(changePasswordForm.value)">

      <div class="form-group">
        <label for="input-password">当前密码</label>
        <input class="form-control" id="input-now-password" type="password" placeholder="请输入当前密码"
               formControlName="nowPassword"
               [class.form-control-success]="changePasswordForm.get('nowPassword').valid && changePasswordForm.get('nowPassword').touched"
               [class.form-control-danger]="changePasswordForm.get('nowPassword').invalid && changePasswordForm.get('nowPassword').touched">
        <small class="form-text error"
               *ngIf="
               changePasswordForm.get('nowPassword').invalid && changePasswordForm.get('nowPassword').touched &&
               changePasswordForm.get('nowPassword').hasError('required')">
          请输入当前密码
        </small>
        <small class="form-text error"
               *ngIf="
               changePasswordForm.get('nowPassword').invalid && changePasswordForm.get('nowPassword').touched &&
               (changePasswordForm.get('nowPassword').hasError('minlength') || changePasswordForm.get('nowPassword').hasError('maxlength'))">
          密码应该在 6 - 32 位之间
        </small>
      </div>

      <div class="form-group">
        <label for="input-password">新密码</label>
        <input class="form-control" id="input-password" type="password" placeholder="请输入当前密码"
               formControlName="password"
               [class.form-control-success]="changePasswordForm.get('password').valid && changePasswordForm.get('password').touched"
               [class.form-control-danger]="changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched">
        <small class="form-text error"
               *ngIf="
               changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched &&
               changePasswordForm.get('password').hasError('required')">
          请输入新密码
        </small>
        <small class="form-text error"
               *ngIf="
               changePasswordForm.get('password').invalid && changePasswordForm.get('password').touched &&
               (changePasswordForm.get('password').hasError('minlength') || changePasswordForm.get('password').hasError('maxlength'))">
          密码应该在 6 - 32 位之间
        </small>
      </div>

      <div class="form-group">
        <label for="input-repeat-password">重复新密码</label>
        <input class="form-control" id="input-repeat-password" type="password" placeholder="新密码"
               formControlName="repeatPassword"
               [class.form-control-success]="changePasswordForm.get('repeatPassword').valid && changePasswordForm.get('repeatPassword').touched"
               [class.form-control-danger]="changePasswordForm.get('repeatPassword').invalid && changePasswordForm.get('repeatPassword').touched">
        <small class="form-text error"
               *ngIf="
             changePasswordForm.get('repeatPassword').invalid && changePasswordForm.get('repeatPassword').touched &&
             changePasswordForm.get('repeatPassword').hasError('required')">
          请输入重复密码密码
        </small>
        <small class="form-text error"
               *ngIf="
             changePasswordForm.get('repeatPassword').invalid && changePasswordForm.get('repeatPassword').touched &&
             changePasswordForm.get('repeatPassword').hasError('repeatPassword')">
          两次密码不一致
        </small>
      </div>

      <button class="btn btn-success"
              [disabled]="submitted || changePasswordForm.invalid"
              [class.btn-pulse]="submitted">
        <i class="fa fa-pencil-square-o"></i>
        更新密码
      </button>
    </form>
  </nb-card-body>
</nb-card>
