<nb-card>
  <nb-card-header>
        <span>
          <i class="fa fa-lock"></i> 密码管理
        </span>
  </nb-card-header>
  <nb-card-body>
    <form (ngSubmit)="updatePassword()" #passwordForm="ngForm" name="passwordForm">
      <div class="form-group">
        <label for="input-password">当前密码</label>
        <input name="password" type="password" class="form-control" id="input-password" placeholder="请输入当前密码"
               [(ngModel)]="passwordForm.password" #password="ngModel"
               [class.form-control-danger]="password.invalid && password.touched"
               [required]="true" [minlength]='6' [maxlength]='32'>
        <small class="form-text error"
               *ngIf="password.invalid && password.touched && password.errors?.required">
          请填写当前密码
        </small>
        <small class="form-text error"
               *ngIf="password.invalid && password.touched && (password.errors?.minlength || password.errors?.maxlength)">
          密码应该在 6 - 32 位之间
        </small>
      </div>
      <div class="form-group">
        <label for="input-newPassword">新密码</label>
        <input name="newPassword" type="password" id="input-newPassword" class="form-control" placeholder="新密码"
               [(ngModel)]="passwordForm.newPassword" #newPassword="ngModel"
               [class.form-control-danger]="newPassword.invalid && newPassword.touched"
               [required]="true" [minlength]='6' [maxlength]='32'>
        <small class="form-text error"
               *ngIf="newPassword.invalid && newPassword.touched && newPassword.errors?.required">
          请填写密码
        </small>
        <small class="form-text error"
               *ngIf="newPassword.invalid && newPassword.touched && (newPassword.errors?.minlength || newPassword.errors?.maxlength)">
          密码应该在 6 - 32 位之间
        </small>
      </div>
      <div class="form-group">
        <label for="input-newPasswordRep">重复新密码</label>
        <input name="newPasswordRep" type="password" id="input-newPasswordRep" class="form-control" placeholder="重复新密码"
               [(ngModel)]="passwordForm.confirmPassword" #newPasswordRep="ngModel"
               [class.form-control-danger]="(newPasswordRep.invalid || newPassword.value != newPasswordRep.value) && newPasswordRep.touched"
               [required]="true">
        <small class="form-text error"
               *ngIf="newPasswordRep.invalid && newPasswordRep.touched && newPasswordRep.errors?.required">
          请输入重复密码
        </small>
        <small class="form-text error"
               *ngIf="newPasswordRep.touched && newPassword.value != newPasswordRep.value && !newPasswordRep.errors?.required">
          两次密码不匹配
        </small>
      </div>
      <button class="btn btn-hero-success"
              [disabled]="submitted || !passwordForm.form.valid || newPassword.value != newPasswordRep.value"
              [class.btn-pulse]="submitted">
        <i class="fa fa-pencil-square-o"></i>
        更新密码
      </button>
    </form>
  </nb-card-body>
</nb-card>
