@import '../../../../@system/styles/extend/modal-header';

.modal-body {
  .file {
    input {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
    }
  }

  .skin-viewer {
    img {
      height: 5rem;
      width: 10rem;
    }
  }
}
