@import '../../../../@theme/styles/extend/modal';

.modal-body {
  .file {
    input {
      position: absolute;
      right: 0;
      top: 0;
      opacity: 0;
    }
  }

  .skin-view-group {
    width: 100%;
    margin-top: 1rem;

    display: flex;
    justify-content: space-around;
    text-align: center;

    .skin-viewer {
    }
  }
}
