<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <button class="btn btn-success" (click)="openFinanceAddModal()">
          <i class="fas fa-plus"></i>
          新增财务历史记录
        </button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header>
    <span><i class="fa fa-money"></i> 财务历史</span>
  </nb-card-header>
  <nb-card-body>
    <table class="table text-nowrap text-left">
      <thead>
      <tr>
        <th>日期</th>
        <th>关联用户</th>
        <th>金额</th>
        <th>结余</th>
        <th>备注</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let financeHistory of financeHistories">
        <td class="text-center" width="15%">
          <span class="font-secondary">
            {{financeHistory.date  | date: 'yyyy-MM-dd'}}
          </span>
        </td>
        <td class="text-center" width="20%">
          {{ financeHistory.user?.username || ''}}
        </td>
        <td width="15%">
          <span [class.text-success]="financeHistory.type === FinanceType.INCOME"
                [class.text-danger]="financeHistory.type === FinanceType.EXPEND">
          <i class="fa fa-caret-up" *ngIf="financeHistory.type === FinanceType.INCOME"></i>
          <i class="fa fa-caret-down" *ngIf="financeHistory.type === FinanceType.EXPEND"></i>
          {{financeHistory.accrual / 100 | number:'1.2-3'}} 元
          </span>
        </td>
        <td class="text-right" width="20%">
          <span class="balance"
                [class.text-success]="financeHistory.balance > 0"
                [class.text-danger]="financeHistory.balance < 0">
            {{financeHistory.balance / 100 | number:'1.2-3'}} 元
          </span>
        </td>
        <td width="30%">
          {{financeHistory.comment}}
        </td>
        <td class="text-center" width="10%">
          <div class="action">
            <button class="btn btn-info btn-tn" (click)="openFinanceDetailModal(financeHistory)">
              <i class="fa fa-pencil"></i>
              编辑
            </button>
          </div>
        </td>
      </tr>
      <tr *ngIf="financeHistories.length <= 0">
        <td colspan="7">无更多数据</td>
      </tr>
      </tbody>
    </table>
  </nb-card-body>
  <nb-card-footer class="text-center">
    <div class="page-switcher btn-group">
      <!--<button type="button" class="btn btn-success" (click)="pageMinus()">-->
      <!--上一页-->
      <!--</button>-->
      <!--<input class="form-control" [(ngModel)]="page" (keydown)="pageKeyDown($event)">-->
      <!--<button type="button" class="btn btn-success" (click)="pageAdd()">-->
      <!--下一页-->
      <!--</button>-->
    </div>
  </nb-card-footer>
</nb-card>
