<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <button class="btn btn-hero-success" (click)="openFinanceAddModal()">
          <i class="fa fa-plus"></i>
          新增财务历史记录
        </button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<nb-card>
  <nb-card-header><i class="fa fa-money"></i> 财务历史</nb-card-header>
  <nb-card-body>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>日期</th>
        <th>备注</th>
        <th>金额</th>
        <th>结余</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let financeHistory of financeHistories">
        <td width="20%">
          <span class="date">
            {{financeHistory.date  | date: 'yyyy-MM-dd'}}
          </span>
        </td>
        <td width="40%">
          {{financeHistory.comment}}
        </td>
        <td width="20%">
          <span class="accrual"
                [class.success]="financeHistory.type == 'incoming'"
                [class.danger]="financeHistory.type == 'expend'">
            <i class="fa fa-caret-up" *ngIf="financeHistory.type == 'incoming'" aria-hidden="true"></i>
            <i class="fa fa-caret-down" *ngIf="financeHistory.type == 'expend'" aria-hidden="true"></i>
            {{financeHistory.accrual | rmb | number:'1.2-3'}} 元
          </span>
        </td>
        <td width="20%" class="text-right">
          <span class="balance"
                [class.success]="financeHistory.balance > 0"
                [class.danger]="financeHistory.balance < 0">
            {{financeHistory.balance | rmb | number:'1.2-3'}} 元
          </span>
        </td>
      </tr>
      </tbody>
    </table>
    <div class="btn-group btn-toggle-group btn-outline-toggle-group" data-toggle="buttons"
         [(ngModel)]="page" (ngModelChange)="pageChange($event)" ngbRadioGroup>
      <label ngbButtonLabel class="btn btn-outline-success" *ngFor="let page of pageArray">
        <input ngbButton type="radio" [value]="page">
        {{page}}
      </label>
    </div>
  </nb-card-body>
</nb-card>
