<div class="modal-header">
  <span>
      <i class="fas fa-bug"></i>
      用户管理 - 授予管理员
  </span>
  <button class="close" (click)="activeModal.close()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body" [nbSpinner]="submitted" [nbSpinnerStatus]="'info'" [nbSpinnerMessage]="'授予中 ...'">
  <ngb-alert [dismissible]="false" [type]="'warning'">
    你正在试图授予<code>{{user.username}}</code>用户为管理员, <i>这是一个敏感操作!</i> 请输入该用户名称来确认操作
  </ngb-alert>

  <form autocomplete="off" role="form"
        [formGroup]="adminGrantForm" (ngSubmit)="grantAdmin()">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" id="input-username" placeholder="请输入用户名称"
               formControlName="username"
               [class.form-control-success]="adminGrantForm.get('username').valid && adminGrantForm.get('username').touched"
               [class.form-control-danger]="adminGrantForm.get('username').invalid && adminGrantForm.get('username').touched">
        <div class="input-group-btn">
          <button class="btn" nbButton [status]="'success'" type="submit"
                  [disabled]="submitted || adminGrantForm.invalid"
                  [class.btn-pulse]="submitted">
            <i class="fas fa-bug"></i>
            授予
          </button>
        </div>
      </div>
      <small class="form-text error"
             *ngIf="
               adminGrantForm.get('username').invalid && adminGrantForm.get('username').touched &&
               adminGrantForm.get('username').hasError('required')">
        请填写用户名称
      </small>
      <small class="form-text error"
             *ngIf="
               adminGrantForm.get('username').invalid && adminGrantForm.get('username').touched &&
               adminGrantForm.get('username').hasError('isUnEqual')">
        用户名称不匹配
      </small>
    </div>
  </form>
</div>
