<div class="row">
  <div class="col-lg-4" *ngFor="let role of roles">
    <nb-card>
      <nb-card-header>
        <span>{{role.rolename}}</span>
        <span class="tag tag-success" *ngIf="role.isDefault">默认角色</span>
        <button class="btn btn-info" (click)="updateDefaultRole(role)" *ngIf="!role.isDefault">设为默认角色</button>
      </nb-card-header>
      <nb-card-body>
        <rmca-skin-viewer [role]="role"></rmca-skin-viewer>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-hero-success"
                (click)="openRoleDetailModal(role._id)">
          <i class="fa fa-pencil-square-o"></i>
          编辑
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card>
      <nb-card-header>
        <span>新增角色</span>
      </nb-card-header>
      <nb-card-body>
        <button class="btn btn-hero-success"
                (click)="openRoleAddModal()">
          <i class="fa fa-plus"></i>
          新增角色
        </button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
