@import '../../../@system/styles/extend/nb-card-header';
@import '../../../@system/styles/tag';

nb-card-header {
  button {
    line-height: 1rem;
    padding: 0.3rem 1rem;
  }
}

nb-card-body {
  .skin-viewer {
    img {
      height: 5rem;
      width: 10rem;
    }
  }
}
