<div class="row">
  <div class="col-lg-4" *ngFor="let role of roles">
    <nb-card [accent]="role.isDefault ? 'success' : 'default'" size="medium">
      <nb-card-header>
        <span>
          <span>{{role.rolename}}</span>
        </span>
      </nb-card-header>
      <nb-card-body>
        <ngx-skin-viewer [role]="role"></ngx-skin-viewer>
      </nb-card-body>
      <nb-card-footer>
        <button nbButton [status]="'info'" (click)="openRoleDetailModal(role._id)">
          <i class="far fa-edit"></i>
          编辑
        </button>
        <button nbButton [status]="'success'" (click)="updateDefaultRole(role)" *ngIf="!role.isDefault">设为默认角色</button>
      </nb-card-footer>
    </nb-card>
  </div>
  <div class="col-lg-4">
    <nb-card size="medium">
      <nb-card-body>
        <button class="btn-add" (click)="openRoleAddModal()">
          <i class="fas fa-plus"></i>
          新增角色
        </button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
