<div class="modal-header">
  <span>
      <i class="fas fa-plus"></i> 服务器管理 - 新增服务器
  </span>
  <button class="close" (click)="activeModal.close()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body">
  <ngb-alert [dismissible]="false" [type]="'info'">
    服务器公告支持的变量:
    <code nbPopover="欠款总额" nbPopoverMode="hover">{{ '{' }}{{ '{' }}finance{{ '}' }}{{ '}' }}</code>
  </ngb-alert>

  <form autocomplete="off" role="form"
        [formGroup]="serverForm" (ngSubmit)="addServer(serverForm.value)">

    <div class="form-group row">
      <label for="input-name" class="col-lg-3 col-form-label">服务器名称</label>
      <div class="col-lg-9">
        <input class="form-control" id="input-name" placeholder="服务器名称" autofocus
               formControlName="name"
               [class.form-control-success]="serverForm.get('name').valid && serverForm.get('name').touched"
               [class.form-control-danger]="serverForm.get('name').invalid && serverForm.get('name').touched">
        <small class="form-text error"
               *ngIf="
               serverForm.get('name').invalid && serverForm.get('name').touched &&
               serverForm.get('name').hasError('required')">
          请填写服务器名称
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-endpoint" class="col-lg-3 col-form-label">连接地址</label>
      <div class="col-lg-9">
        <input class="form-control" id="input-endpoint" placeholder="连接地址"
               formControlName="endpoint"
               [class.form-control-success]="serverForm.get('endpoint').valid && serverForm.get('endpoint').touched"
               [class.form-control-danger]="serverForm.get('endpoint').invalid && serverForm.get('endpoint').touched">
        <small class="form-text error"
               *ngIf="
               serverForm.get('endpoint').invalid && serverForm.get('endpoint').touched &&
               serverForm.get('endpoint').hasError('required')">
          请填写连接地址
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-dynmap" class="col-lg-3 col-form-label">大地图地址(可选)</label>
      <div class="col-lg-9">
        <input class="form-control" id="input-dynmap" placeholder="大地图地址"
               formControlName="dynmap"
               [class.form-control-success]="serverForm.get('dynmap').valid && serverForm.get('dynmap').touched"
               [class.form-control-danger]="serverForm.get('dynmap').invalid && serverForm.get('dynmap').touched">
      </div>
    </div>

    <div class="form-group row">
      <label for="textarea-announce" class="col-lg-3 col-form-label">
        服务器公告<br>
        <b>
          <small>
            第一行服务器名<br>
            剩下四行公告<br>
          </small>
        </b>
      </label>
      <div class="col-lg-9">
        <textarea class="form-control" id="textarea-announce" placeholder="服务器公告" cols="5" rows="5"
                  formControlName="announce"
                  [class.form-control-success]="serverForm.get('announce').valid && serverForm.get('announce').touched"
                  [class.form-control-danger]="serverForm.get('announce').invalid && serverForm.get('announce').touched">
        </textarea>

        <small class="form-text error"
               *ngIf="
               serverForm.get('announce').invalid && serverForm.get('announce').touched &&
               serverForm.get('announce').hasError('required')">
          请填写服务器公告
        </small>
      </div>
    </div>

    <div class="form-group submit-group row">
      <div class="offset-lg-3 col-lg-9">
        <button nbButton [status]="'success'" type="submit"
                [disabled]="submitted || serverForm.invalid"
                [class.btn-pulse]="submitted">
          <i class="fas fa-plus"></i>
          新增服务器
        </button>
        <button nbButton [status]="'danger'" type="button"
                (click)="activeModal.close()">
          <i class="fas fa-times"></i>
          取消
        </button>
      </div>
    </div>
  </form>
</div>
