<nb-layout>
  <nb-layout-header [fixed]="true">
    <ngx-header></ngx-header>
  </nb-layout-header>

  <nb-sidebar class="menu-sidebar" tag="menu-sidebar" [responsive]>
    <nb-sidebar-header>
      <button nbButton [status]="'success'" [hero]="true" (click)="showDonationModal()" class="main-btn">
        <!-- TODO 把字改成实时的欠款金额 -->
        <i class="ion ion-social-yen"></i> <span>穷!</span>
      </button>
    </nb-sidebar-header>
    <ng-content select="nb-menu"></ng-content>
  </nb-sidebar>

  <nb-layout-column class="main-content">
    <ng-content select="router-outlet"></ng-content>
  </nb-layout-column>

  <nb-layout-footer [fixed]="true">
    <ngx-footer></ngx-footer>
  </nb-layout-footer>
</nb-layout>
