<div class="modal-header">
  <span>
    <i class="fas fa-plus"></i> 财务历史管理 - 新增财务历史记录
  </span>
  <button class="close" (click)="activeModal.close()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body" [nbSpinner]="submitted" [nbSpinnerStatus]="'info'" [nbSpinnerMessage]="'新增中...'">
  <form autocomplete="off" role="form"
        [formGroup]="financeHistoryForm" (ngSubmit)="addFinanceHistory(financeHistoryForm.value)">

    <div class="form-group row">
      <label for="input-date" class="col-sm-2 col-form-label">日期</label>
      <div class="col-sm-10">
        <input class="form-control" id="input-date" placeholder="日期" type="date"
               formControlName="date"
               [class.form-control-success]="financeHistoryForm.get('date').valid && financeHistoryForm.get('date').touched"
               [class.form-control-danger]="financeHistoryForm.get('date').invalid && financeHistoryForm.get('date').touched">
        <small class="form-text error"
               *ngIf="
               financeHistoryForm.get('date').invalid && financeHistoryForm.get('date').touched &&
               financeHistoryForm.get('date').hasError('required')">
          请选择日期
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-sm-2 col-form-label">类型</label>
      <div class="col-sm-10">
        <div ngbRadioGroup class="btn-group btn-group-toggle btn-group-full-width"
             formControlName="type">
          <label ngbButtonLabel class="btn btn-outline-success">
            <input ngbButton type="radio" name="type" [value]="FinanceType.INCOME"> 收入
          </label>
          <label ngbButtonLabel class="btn btn-outline-danger">
            <input ngbButton type="radio" name="type" [value]="FinanceType.EXPEND"> 支出
          </label>
        </div>
        <small class="form-text error"
               *ngIf="
               financeHistoryForm.get('type').invalid && financeHistoryForm.get('type').touched &&
               financeHistoryForm.get('type').hasError('required')">
          请选择类型
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-accrual" class="col-sm-2 col-form-label">金额</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input class="form-control" id="input-accrual" placeholder="金额" type="number" autofocus
                 formControlName="accrual"
                 [class.form-control-success]="financeHistoryForm.get('accrual').valid && financeHistoryForm.get('accrual').touched"
                 [class.form-control-danger]="financeHistoryForm.get('accrual').invalid && financeHistoryForm.get('accrual').touched">
        </div>
        <small class="form-text error"
               *ngIf="
               financeHistoryForm.get('accrual').invalid && financeHistoryForm.get('accrual').touched &&
               financeHistoryForm.get('accrual').hasError('required')">
          请填写金额
        </small>
        <small class="form-text error"
               *ngIf="
               financeHistoryForm.get('accrual').invalid && financeHistoryForm.get('accrual').touched &&
               financeHistoryForm.get('accrual').hasError('min')">
          金额不能小于0
        </small>
      </div>
    </div>

    <div class="form-group row">
      <label for="input-comment" class="col-sm-2 col-form-label">备注</label>
      <div class="col-sm-10">
        <input class="form-control" id="input-comment" placeholder="备注"
               formControlName="comment"
               [class.form-control-success]="financeHistoryForm.get('comment').valid && financeHistoryForm.get('comment').touched"
               [class.form-control-danger]="financeHistoryForm.get('comment').invalid && financeHistoryForm.get('comment').touched">
      </div>
    </div>

    <div class="form-group row">
      <label for="input-user-id" class="col-sm-2 col-form-label">关联用户</label>
      <div class="col-sm-10">
        <input class="form-control" id="input-user-id" placeholder="与之关联的用户"
               formControlName="userId"
               [class.form-control-success]="financeHistoryForm.get('userId').valid && financeHistoryForm.get('userId').touched"
               [class.form-control-danger]="financeHistoryForm.get('userId').invalid && financeHistoryForm.get('userId').touched">
      </div>
    </div>

    <div class="form-group submit-group row">
      <div class="offset-sm-2 col-sm-10">
        <button nbButton [status]="'success'" type="submit"
                [disabled]="submitted || financeHistoryForm.invalid"
                [class.btn-pulse]="submitted">
          <i class="fas fa-plus"></i>
          新增财务历史记录
        </button>
        <button nbButton [status]="'danger'" type="button"
                (click)="activeModal.close()">
          <i class="fas fa-times"></i>
          取消
        </button>
      </div>
    </div>
  </form>
</div>
