// themes - our custom or/and out of the box themes
@import 'themes';
// framework component themes (styles tied to theme variables)
@import '~@nebular/theme/styles/globals';
@import '~@nebular/auth/styles/all';
// global app font size
@import './font-size';
// loading progress bar theme
@import './pace.theme';

// install the framework and custom global styles
@include nb-install() {

  // framework global styles
  @include nb-theme-global();
  @include nb-auth-global();

  // loading progress bar
  @include ngx-pace-theme();

  // fixed in rc.9 and can be removed after upgrade
  .custom-control .custom-control-indicator {
    border-radius: 50%; // TODO: quickfix for https://github.com/akveo/nebular/issues/275
  }
}

// 修正导航菜单图标大小, 这玩意无法从layout里覆盖, 样式优先权太高, FML
.nb-theme-cosmic nb-menu .menu-item .menu-icon {
  font-size: 2.2rem;
  width: 3rem;
}

// 干掉全局nbButton的outline
button[nbButton] {
  outline: 0;
}
