<nb-card>
  <nb-card-header>
    <span><i class="fa fa-chain"></i> Gravatar账户</span>
    <span class="tag tag-success" *ngIf="user.email">已授权</span>
    <span class="tag tag-warning" *ngIf="!user.email">未授权</span>
  </nb-card-header>
  <nb-card-body>
    <div class="alert alert-warning" role="alert" *ngIf="!user.email">
      你还未填写邮箱, 填写后即可自动获得授权, 授权后你将可以:
      <ul>
        <li>使用Gravatar账户作为RMCA系统头像</li>
        <li>关于Gravatar的具体信息, 请查看<a target="_blank" href="https://cn.gravatar.com/">Gravator</a></li>
      </ul>
      <a href="javascript:void(0)" (click)="goToProfile()">去个人中心</a>
    </div>
    <div *ngIf="user.email" class="user-container">
      <div class="user-picture">
        <div class="background image" style.background-image="url({{user.accounts.gravatar.avatar}})"></div>
      </div>
      <div class="user-name">
        {{user.email}}
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer *ngIf="user.email">
    <button class="btn btn-hero-success" (click)="updateUserAvatar()">
      <i class="fa fa-image"></i>
      使用该头像作为RMCA头像
    </button>
  </nb-card-footer>
</nb-card>
