<nb-flip-card [flipped]="flaped" [showToggleButton]="false">
  <nb-card-front>
    <nb-card [accent]="user?.yggdrasil ? 'success' : 'warning'" [size]="'small'">
      <nb-card-header>
    <span>
        <i class="fas fa-ticket-alt"></i> 正版验证状态
    </span>
      </nb-card-header>
      <nb-card-body>
        <ngb-alert [dismissible]="false" [type]="'success'" *ngIf="user.yggdrasil">
          以下内容从Mojang获取, 不可修改. 你可以<a class="alert-link" href="javascript:void(0)" (click)="flipCard()">更新正版验证信息</a>
        </ngb-alert>
        <ngb-alert [dismissible]="false" [type]="'warning'" *ngIf="!user.yggdrasil">
          你还没有通过正版验证,
          <a class="alert-link" href="javascript:void(0)" (click)="flipCard()">验证 Mojang 账户</a>
          后可使用以下功能:
          <ul>
            <li>使用Mojang Minecraft角色皮肤作为炉心角色皮肤</li>
            <li>使用Mojang Minecraft角色披风作为炉心角色披风</li>
          </ul>
        </ngb-alert>

        <div class="section" *ngIf="user.yggdrasil">
          <div class="form-group row">
            <label for="yggdrasil-username" class="col-lg-3 col-form-label">用户名</label>
            <div class="col-lg-9">
              <input name="username" id="yggdrasil-username" class="form-control" readonly
                     [ngModel]="user.yggdrasil.username">
            </div>
          </div>
          <div class="form-group row">
            <label for="yggdrasil-uuid" class="col-lg-3 col-form-label">UUID</label>
            <div class="col-lg-9">
              <input name="password" id="yggdrasil-uuid" class="form-control" readonly
                     [ngModel]="user.yggdrasil.uuid">
            </div>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </nb-card-front>
  <nb-card-back>
    <nb-card [size]="'small'" [nbSpinner]="submitted" [nbSpinnerStatus]="'info'" [nbSpinnerMessage]="'状态更新中...'">
      <nb-card-header>
        <span><i class="fas fa-ticket-alt"></i>正版验证</span>
      </nb-card-header>
      <nb-card-body>
        <form autocomplete="off" role="form"
              [formGroup]="updateYggdrasilInfoForm" (ngSubmit)="updateYggdrasil(updateYggdrasilInfoForm.value)">
          <div class="form-group row">
            <label for="input-username" class="col-lg-3 col-form-label">Mojang 邮箱</label>
            <div class="col-lg-9">
              <input class="form-control" id="input-username" placeholder="Mojang 邮箱"
                     formControlName="username"
                     [class.form-control-success]="updateYggdrasilInfoForm.get('username').valid && updateYggdrasilInfoForm.get('username').touched"
                     [class.form-control-danger]="updateYggdrasilInfoForm.get('username').invalid && updateYggdrasilInfoForm.get('username').touched">
              <small class="form-text error"
                     *ngIf="
                 updateYggdrasilInfoForm.get('username').invalid && updateYggdrasilInfoForm.get('username').touched &&
                 updateYggdrasilInfoForm.get('username').hasError('required')">
                请填写 Mojang 邮箱
              </small>
            </div>
          </div>

          <div class="form-group row">
            <label for="input-password" class="col-lg-3 col-form-label">Mojang 密码</label>
            <div class="col-lg-9">
              <input class="form-control" id="input-password" type="password" placeholder="Mojang 密码"
                     formControlName="password"
                     [class.form-control-success]="updateYggdrasilInfoForm.get('password').valid && updateYggdrasilInfoForm.get('password').touched"
                     [class.form-control-danger]="updateYggdrasilInfoForm.get('password').invalid && updateYggdrasilInfoForm.get('password').touched">
              <small class="form-text error"
                     *ngIf="
                 updateYggdrasilInfoForm.get('password').invalid && updateYggdrasilInfoForm.get('password').touched &&
                 updateYggdrasilInfoForm.get('password').hasError('required')">
                请填写 Mojang 密码
              </small>
            </div>
          </div>

          <div class="form-group row">
            <div class="offset-lg-3 col-lg-9">
              <button nbButton [status]="'success'"
                      [disabled]="submitted || updateYggdrasilInfoForm.invalid"
                      [class.btn-pulse]="submitted">
                <i class="far fa-edit"></i>
                更新正版验证状态
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </nb-card-back>
</nb-flip-card>
