<div class="modal-header">
  <span>
      <i class="fa fa-trash"></i>
      服务器管理 - 删除服务器
  </span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="deleteServer()" #deleteServerForm="ngForm" name="deleteServerForm">
    <div class="alert alert-warning" role="alert">
      你正在试图删除名为: <code>{{serverName}}</code>服务器, <strong>这是一个敏感操作!</strong> 请输入该服务器名称来确认操作
    </div>
    <div class="input-group">
      <input name='name' id="input-name" class="form-control" placeholder="请输入服务器名称"
             autofocus autocomplete=off
             [(ngModel)]="formName" #name="ngModel"
             [class.form-control-danger]="name.invalid && name.touched || formName != serverName"
             [required]="true">
      <div class="input-group-btn">
        <button class="btn btn-danger"
                [class.btn-pulse]="submitted"
                [disabled]="submitted || deleteServerForm.invalid || formName != serverName">
          <i class="fa fa-trash"></i>
          删除
        </button>
      </div>
    </div>
  </form>
</div>
