<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-body>
        <button class="btn btn-hero-success"
                (click)="openServerAddModal()">
          <i class="fa fa-plus"></i>
          新增服务器
        </button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
<div class="row" *ngFor="let server of servers">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <span>{{server.name}} - {{server.endpoint}}</span>
      </nb-card-header>
      <nb-card-body>
        <div class="row form-group">
          <label for="textarea-announce" class="col-sm-1 col-form-label">
            服务器公告
          </label>
          <div class="col-sm-11">
          <textarea name="announce" id="textarea-announce" class="form-control" cols="5" rows="5" readonly
                    [(ngModel)]="server.announce"></textarea>
          </div>
        </div>
        <div class="row form-group">
          <label for="input-dynmap" class="col-sm-1 col-form-label">
            大地图地址
          </label>
          <div class="col-sm-11">
            <input name="dynmap" id="input-dynmap" class="form-control" readonly
                   [(ngModel)]="server.dynmap">
          </div>
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-hero-success"
                (click)="openServerDetailModal(server._id)">
          <i class="fa fa-pencil-square-o"></i>
          编辑
        </button>
        <button class="btn btn-hero-danger"
                (click)="openServerDeleteModal(server._id, server.name)">
          <i class="fa fa-trash"></i>
          删除
        </button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
