<div class="row">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <span>
          <i class="fa fa-pencil-square-o"></i>
          角色管理 - 角色详情
        </span>
        <span class="tag tag-success" *ngIf="role.isDefault">默认角色</span>
      </nb-card-header>
      <nb-card-body>
        <form (ngSubmit)="updateRole()" enctype="multipart/form-data" #roleForm="ngForm" name="roleForm">
          <div class="form-group row">
            <label for="input-skin" class="col-sm-1 col-form-label">角色名</label>
            <div class="col-sm-11">
              <input name="rolename" id="input-rolename" class="form-control" placeholder="角色名" readonly
                     [ngModel]="role.rolename">
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-1 col-form-label">模型类型</label>
            <div class="col-sm-11">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="Steve" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Steve</span>
              </label>
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="Alex">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Alex</span>
              </label>
            </div>
          </div>
          <div class="form-group row">
            <label for="input-skin" class="col-sm-1 col-form-label">皮肤上传</label>
            <div class="col-sm-11">
              <div class="file btn btn-hero-info">
                <span *ngIf="!role.file">选择文件</span>
                <span *ngIf="role.file">文件已选择</span>
                <input type="file" name="skin" id="input-skin" class="form-control" placeholder="皮肤上传"
                       ngModel (change)="getFiles($event)">
              </div>
            </div>
          </div>
          <div class="form-group row" *ngIf="role.file">
            <label for="input-skin" class="col-sm-1 col-form-label">待上传皮肤</label>
            <div class="col-sm-11">
              <div class="skin-viewer">
                <img src="data:image/png;base64,{{role.file}}" alt="">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label for="input-skin" class="col-sm-1 col-form-label">当前皮肤预览</label>
            <div class="col-sm-11">
              <div class="skin-viewer">
                <img src="https://rmca.bangbang93.com/api/role/skin/{{role._id}}" alt="">
              </div>
            </div>
          </div>
          <div class="form-group row">
            <div class="offset-sm-1 col-sm-11">
              <button class="btn btn-hero-success"
                      [disabled]="isSubmitted() || !roleForm.form.valid"
                      [class.btn-pulse]="isSubmitted()">
                更新角色信息
              </button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>
  </div>
</div>
