<nb-card>
  <nb-card-header>
    <span><i class="fa fa-user-secret"></i> 管理员管理</span>
  </nb-card-header>
  <nb-card-body>
    <table class="table">
      <thead>
      <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>电子邮箱</th>
        <th>操作</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let admin of admins">
        <td width="15%">{{admin._id}}</td>
        <td>{{admin.username}}</td>
        <td><a href="mail://{{admin.email}}">{{admin.email}}</a></td>
        <td>
          <button class="btn btn-danger btn-tn" *ngIf="admin.admin" (click)="banUser(user)">
            <i class="fa fa-ban"></i>
            授予
          </button>
          <button class="btn btn-success btn-tn" *ngIf="admin.admin" (click)="unBanUser(user)">
            <i class="fa fa-check"></i>
            解除
          </button>
        </td>
      </tr>
      </tbody>
    </table>
    <!--TODO 分页-->
    <!--<div class="btn-group btn-toggle-group btn-outline-toggle-group" data-toggle="buttons"-->
    <!--[(ngModel)]="page" (ngModelChange)="pageChange($event)" ngbRadioGroup>-->
    <!--<label ngbButtonLabel class="btn btn-outline-success" *ngFor="let page of pageArray">-->
    <!--<input ngbButton type="radio" [value]="page">-->
    <!--{{page}}-->
    <!--</label>-->
    <!--</div>-->
  </nb-card-body>
</nb-card>
