@import '../themes';

table tr th,
table tr th a {
  font-family: nb-theme(smart-table-header-font-family);
  font-size: nb-theme(smart-table-header-font-size);
  font-weight: nb-theme(smart-table-header-font-weight);
  line-height: nb-theme(smart-table-header-line-height);
  color: nb-theme(smart-table-header-fg);
}

table tr td {
  font-family: nb-theme(smart-table-font-family);
  font-size: nb-theme(smart-table-font-size);
  font-weight: nb-theme(smart-table-font-weight);
  line-height: nb-theme(smart-table-line-height);
  color: nb-theme(smart-table-fg);
}

table tr th,
table tr td {
  position: relative;
  // 继承smart-table-padding太大了, 缩小一点
  padding: 1rem;
  border: 1px solid nb-theme(smart-table-separator);
  vertical-align: middle;
}

thead tr {
  background: nb-theme(smart-table-header-bg);
}

tbody tr {
  &.selected, &:hover {
    background: nb-theme(smart-table-bg-active) !important;
  }

  &:nth-child(2n) {
    background-color: nb-theme(smart-table-bg-even);
  }
}

.table th, .table td, .table thead th {
  border: 1px solid nb-theme(smart-table-separator);
}
