@import '../../../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/bootstrap/breakpoints';

.info-container {
  padding: 1rem;
  display: flex;
  justify-content: center;

  .tag {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 0.3rem;
    margin: 0 0.5rem;
  }

  .tag-success {
    color: nb-theme(color-white);
    background-color: nb-theme(color-success);
  }

  .tag-warning {
    color: nb-theme(color-white);
    background-color: nb-theme(color-warning);
  }
}
