<nb-card>
  <nb-card-header>
    <span>
      <i class="fa fa-info"></i>
      我的账户
    </span>
  </nb-card-header>
  <nb-card-body>
    <div class="user-state">
      <div class="alert alert-danger" role="alert" *ngIf="user.ban">
        你的账户已经被封禁, 封禁原因为:
        <h4>{{user.ban}}</h4>
      </div>

      <div class="user-container">
        <div class="user-picture">
          <div class="background image" style.background-image="url({{user.avatar}})"></div>
        </div>
        <div class="user-name">
          <p>
            {{user.username}}
          </p>
        </div>
      </div>
      <div class="info-container">
        <span class="tag tag-success" *ngIf="!user.ban">
          账户状态: 正常
        </span>
        <span class="tag tag-danger" *ngIf="user.ban">
          账户状态: 封禁
        </span>
        <span class="tag tag-danger" *ngIf="user.admin">
          管理员
        </span>
        <span class="tag tag-info" *ngIf="user.username == 'sdjnmxd' || user.username == 'bangbang93'">
          <!--FIXME 更换为isDevelop判断-->
          Developer
        </span>
      </div>
    </div>
  </nb-card-body>
</nb-card>
