<nb-card>
  <nb-card-header>
    <span><i class="fa fa-weibo"></i> 新浪微博账户</span>
    <span class="tag tag-success" *ngIf="user?.accounts?.weibo">已授权</span>
    <span class="tag tag-warning" *ngIf="!user?.accounts?.weibo">未授权</span>
  </nb-card-header>
  <nb-card-body>
    <div *ngIf="!user?.accounts?.weibo">
      <small>你还未授权新浪微博账户</small>
    </div>
    <div *ngIf="user?.accounts?.weibo" class="user-container">
      <div class="user-picture">
        <div class="background image" style.background-image="url({{user?.accounts?.weibo?.avatar}})"></div>
      </div>
      <div class="user-name">
        {{user?.accounts?.weibo?.name}}
      </div>
    </div>
  </nb-card-body>
  <nb-card-footer>
    <button class="btn btn-hero-success" *ngIf="user?.accounts?.weibo" (click)="updateUserAvatar()">使用该头像作为RMCA头像</button>
    <button class="btn btn-hero-info" *ngIf="!user?.accounts?.weibo" (click)="oAuth()">去授权</button>
  </nb-card-footer>
</nb-card>
