<div class="modal-header">
  <i class="fa fa-money"></i> 财务历史管理 - 新增财务历史记录
  <button class="close" aria-label="Close" (click)="closeModal()">
    <i class="fa fa-times" aria-hidden="true"></i>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="addServer()" #serverForm="ngForm" name="serverForm">
    <div class="form-group row">
      <label for="input-date" class="col-sm-2 col-form-label">发生时间</label>
      <div class="col-sm-10">
        <input type="date" name="date" id="input-date" class="form-control" placeholder="发生时间（精确到日）" autofocus
               [(ngModel)]="finance.date" #date="ngModel"
               [class.form-control-danger]="date.invalid && date.touched"
               [required]="true">
        <small class="form-text error"
               *ngIf="date.invalid && date.touched && date.errors?.required">
          请填写发生时间
        </small>
      </div>
    </div>
    <!--<div class="form-group row">-->
    <!--<label for="input-dynmap" class="col-sm-2 col-form-label">大地图地址(可选)</label>-->
    <!--<div class="col-sm-10">-->
    <!--<input name="dynmap" id="input-dynmap" class="form-control" placeholder="大地图地址"-->
    <!--[(ngModel)]="server.dynmap" #dynmap="ngModel">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="form-group row">-->
    <!--<label for="textarea-announce" class="col-sm-2 col-form-label">-->
    <!--服务器公告<br>-->
    <!--<b>-->
    <!--<small>-->
    <!--第一行服务器名<br>-->
    <!--剩下四行公告<br>-->
    <!--务必保持五行<br>-->
    <!--</small>-->
    <!--</b>-->
    <!--</label>-->
    <!--<div class="col-sm-10">-->
    <!--<textarea name="announce" id="textarea-announce" class="form-control" cols="5" rows="5" placeholder="服务器公告"-->
    <!--[(ngModel)]="server.announce" #announce="ngModel"-->
    <!--[class.form-control-danger]="announce.invalid && announce.touched"-->
    <!--[required]="true">-->
    <!--</textarea>-->
    <!--<small class="form-text error"-->
    <!--*ngIf="announce.invalid && announce.touched && announce.errors?.required">-->
    <!--请填写服务器公告-->
    <!--</small>-->
    <!--</div>-->
    <!--</div>-->
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button class="btn btn-hero-success"
                [disabled]="submitted || !serverForm.form.valid"
                [class.btn-pulse]="submitted">
          <i class="fa fa-plus"></i>
          新增财务历史记录
        </button>
        <button class="btn btn-md btn-hero-danger" (click)="closeModal()">
          <i class="fa fa-times" aria-hidden="true"></i>
          取消
        </button>
      </div>
    </div>
  </form>
</div>
