@import '../../../../@theme/styles/themes';
@import '../../../../@theme/styles/styles';
@import '../../../../@theme/extend/nb-card';
@import '../../../../@theme/extend/table';
@import '../../../../@theme/extend/tag';

section {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.tag {
  line-height: 2.5rem;
}
