@import '../../../../@theme/styles/themes';
@import '../../../../@theme/styles/styles';
@import '../../../../@system/styles/extend/nb-card-header';
@import '../../../../@system/styles/table';
@import '../../../../@system/styles/tag';

section {
  margin-bottom: 1rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.tag {
  line-height: 2.5rem;
}
