@import '../../../../@theme/extend/nb-card';
@import '../../../../@theme/extend/ngb-alert';
@import '../../../../@theme/extend/tag';

.user-info-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;

  .user-container {
    display: flex;
    align-items: center;
    flex-direction: column;

    font-family: nb-theme(card-header-font-family);
    font-size: nb-theme(card-header-font-size);
    font-weight: nb-theme(card-header-font-weight);

    margin-bottom: 0.75rem;

    .user-picture {
      border-radius: 50%;
      flex-shrink: 0;
      background: #a1a1e5;
      border: solid 2px #00f9a6;

      margin-bottom: 0.5rem;

      .background {
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .image {
        background-size: cover;
        background-repeat: no-repeat;
        height: 5rem;
        width: 5rem;
        border-radius: 100%;
      }
    }
  }

  .tag-container {
    display: flex;
    align-items: center;
  }
}

.tag {
  display: block;
  font-size: 1rem;
  line-height: 1rem;
  padding: 0.4rem 0.5rem;
  border-radius: 0.3rem;
  margin: 0 0.5rem;
}
