<div class="modal-header">
  <span>
    <i class="fas fa-plus"></i>
    角色管理 - 新增角色
  </span>
  <button class="close" aria-label="Close" (click)="closeModal()">
    <i class="fas fa-times" aria-hidden="true"></i>
  </button>
</div>
<div class="modal-body">
  <form (ngSubmit)="addRole(roleForm)" #roleForm="ngForm" name="roleForm">
    <div class="form-group row">
      <label for="input-rolename" class="col-sm-2 col-form-label">角色名</label>
      <div class="col-sm-10">
        <input name="username" id="input-rolename" class="form-control" placeholder="角色名" autofocus
               [(ngModel)]="roleForm.rolename" #rolename="ngModel"
               [class.form-control-danger]="rolename.invalid && rolename.touched"
               [required]="true" pattern="^[_a-zA-Z0-9]{1,16}$">
        <small class="form-text error"
               *ngIf="rolename.invalid && rolename.touched && rolename.errors?.required">
          请填写角色名
        </small>
        <small class="form-text error"
               *ngIf="rolename.invalid && rolename.touched && rolename.errors?.pattern">
          角色名格式不正确
        </small>
      </div>
    </div>
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button class="btn btn-success"
                [disabled]="submitted || !roleForm.form.valid"
                [class.btn-pulse]="submitted">
          <i class="fas fa-plus"></i>
          新增角色
        </button>
        <button class="btn btn-md btn-danger"
                (click)="closeModal()">
          <i class="fas fa-times" aria-hidden="true"></i>
          取消
        </button>
      </div>
    </div>
  </form>
</div>
