<div class="modal-header">
  <span>
      <i class="fas fa-bug"></i>
      用户管理 - 撤销管理员
  </span>
  <button class="close" (click)="activeModal.close()">
    <i class="fas fa-times"></i>
  </button>
</div>
<div class="modal-body" [nbSpinner]="submitted" [nbSpinnerStatus]="'info'" [nbSpinnerMessage]="'撤销中 ...'">
  <ngb-alert [dismissible]="false" [type]="'warning'">
    你正在试图撤销<code>{{user.username}}</code>用户的管理员权限, <i>这是一个敏感操作!</i> 请输入该用户名称来确认操作
  </ngb-alert>

  <form autocomplete="off" role="form"
        [formGroup]="adminRevokeForm" (ngSubmit)="revokeAdmin()">
    <div class="input-group">
      <input class="form-control" id="input-username" placeholder="请输入用户名称"
             formControlName="username"
             [class.form-control-success]="adminRevokeForm.get('username').valid && adminRevokeForm.get('username').touched"
             [class.form-control-danger]="adminRevokeForm.get('username').invalid && adminRevokeForm.get('username').touched">
      <div class="input-group-btn">
        <button class="btn" nbButton [status]="'success'" type="submit"
                [disabled]="submitted || adminRevokeForm.invalid"
                [class.btn-pulse]="submitted">
          <i class="fas fa-bug"></i>
          撤销
        </button>
      </div>
    </div>

    <small class="form-text error"
           *ngIf="
               adminRevokeForm.get('username').invalid && adminRevokeForm.get('username').touched &&
               adminRevokeForm.get('username').hasError('required')">
      请填写用户名称
    </small>
    <small class="form-text error"
           *ngIf="
               adminRevokeForm.get('username').invalid && adminRevokeForm.get('username').touched &&
               adminRevokeForm.get('username').hasError('isUnEqual')">
      用户名称不匹配
    </small>
  </form>
</div>
