<div class="row" *ngFor="let role of roles">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <span>{{role.rolename}}</span>
        <span class="tag tag-success" *ngIf="role.isDefault">默认角色</span>
        <button class="btn btn-info" (click)="updateDefaultRole(role)" *ngIf="!role.isDefault">设为默认角色</button>
      </nb-card-header>
      <nb-card-body>
        <div class="skin-viewer">
          <img src="https://rmca.bangbang93.com/api/role/skin/{{role._id}}" alt="">
        </div>
      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-hero-success" [routerLink]="['../detail', role._id]">编辑</button>
      </nb-card-footer>
    </nb-card>
  </div>
</div>
<div class="row" *ngIf="roles.length < 1">
  <div class="col-lg-12">
    <nb-card>
      <nb-card-header>
        <span>你还没有角色</span>
      </nb-card-header>
      <nb-card-body>
        <button class="btn btn-hero-success" routerLink="../add">新增角色</button>
      </nb-card-body>
    </nb-card>
  </div>
</div>
